/* NotFound.scss */
.not-found-container {
    text-align: center;
    padding: 20px;
}

.not-found-container h1 {
    font-size: 48px;
    color: #f44336;
}

.not-found-container p {
    font-size: 20px;
    color: #333;
}