.container {
    display: flex;
    justify-content: center;
}

.baseItemStyle {
    position: relative; // Needed for hover effects with children
    padding: 10px;
    border: 1px solid #ccc;
    margin-bottom: 10px;
    transition: background-color 0.3s ease; // Smooth transition for hover effect
}

.season {
    @extend .baseItemStyle;
    width: 80%;

    &:hover {
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
        font-weight: bold;
    }
}

.race {
    @extend .baseItemStyle;
    width: 70%;

    &.highlighted {
        background-color: yellow;
    }
}